#link_pages{
    display: flex;
    flex-direction: column;
}

$colorSubtitle:#008585;
$colorMaintitle:red;

.title_main{
    color:$colorMaintitle
}
.title_sub{
    color:$colorSubtitle

}
.wrap_error{
    color:plum;
    font-size: 120%;
    font-weight: bolder;
    text-align: center;
}